<nav>
	<ul>
		<li class='inline-list-item'>
			<%= link_to "Street Fighter V", game_path('street-fighter-v') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "Mortal Kombat X", game_path('mortal-kombat-x') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "Tekken 7", game_path('tekken-7') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "Rising Thunder", game_path('rising-thunder') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "King of Fighters XIV", game_path('king-of-fighters-xiv') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "Super Smash Bros", game_path('super-smash-bros') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "Pokken Tournament", game_path('pokken-tournament') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "Guilty Gear XRD:Revelator", game_path('guilty-gear-xrd-revelator') %>
		</li>
		<li class='inline-list-item'>
			<%= link_to "More Games", "javascript:void(0)" %>
		</li>
	</ul>
</nav>

