<div class='breadcrumbs'>
	<div class='crumb'>
		<a href='#'>Learn</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<span>Street Fighter V</span>
	</div>
</div>
<div class='content-wrapper'>
	<div class='character-wrapper'>
		<div class='character-header'>
			Characters
		</div>
		<ul>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
		</ul>
	</div>
	<div class='article-index-wrapper'>
		<div class='article-list'>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						+14 <span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						24 <span class='summary-subtext'>Questions</span>
						41 <span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-info'>
					<div class='sub-header'>
						<div class='heading'>
							Street Fighter V Articles
						</div>
						<div class='filter-wrapper'>
							<button>Newest</button>
							<button>Most Popular</button>
							<button>Recently Updated</button>
						</div>
					</div>
					<div class='article-title'>
						<a href='#'>
							How To Defeat M. Bison (Dictator) Using Dhalsim
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								vs Bison
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Matchup Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Intermediate
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 14 Feb 2016 by <a href='#'>[CCG]Air</a></span>
						<span>Published 10 Feb 2016 by <a href='#'>gameinn</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class='sidebar right-aligned'>
		</div>
	</div>
</div>
