<div class='breadcrumbs'>
	<div class='crumb'>
		<a href='#'>Learn</a>
	</div>
	<div class='crumb-separator'>
		>
	</div>
	<div class='crumb'>
		<span>Street Fighter V</span>
	</div>
</div>
<div class='content-wrapper'>
	<div class='character-wrapper'>
		<ul>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
				<div class='character-image-menu'>
					<div class='character-index-link'>
						Ryu
					</div>
					<div class='character-index-link'>
						<a href="#">Articles</a>
					</div>
					<div class='character-index-link'>
						<a href="#">Frame Data</a>
					</div>
					<div class='character-index-link'>
						<a href="#">Combos</a>
					</div>
				</div>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
			</li>
		</ul>
	</div>
	<div class='article-index-wrapper'>
		<div class='article-list'>
			<div class='sub-header'>
				<div class='heading'>
					Street Fighter V Articles
				</div>
				<div class='filter-wrapper'>
					<button class='filter-button'>Newest</button>
					<button class='filter-button'>Most Popular</button>
					<button class='filter-button'>Recently Updated</button>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>15</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>49</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>237</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							The SFV Training Room: An In Depth Guide to Preparing For Every Foe
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								Matchups
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Footsies
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Training
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Beginners
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 4 Mar 2016 by <a href='#'>gootecks</a></span>
						<span>Published 23 Feb 2016 by <a href='#'>JuiceboxFGC</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>4</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>1</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>3</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							How To Defeat M. Bison (Dictator) Using Dhalsim
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								vs Bison
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Matchup Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Intermediate
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 19 Apr 2016 by <a href='#'>FChamp</a></span>
						<span>Published 4 Mar 2016 by <a href='#'>[TS]Sabin</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>24</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>10</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>91</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							Ryu Grappler Strategies (vs Gief, Mika, Birdie, Alex)
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								vs R. Mika
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								vs Birdie
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Matchup Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								vs Alex
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Zoning
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								vs Zangief
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 14 Feb 2016 by <a href='#'>[CCG]Air</a></span>
						<span>Published 10 Feb 2016 by <a href='#'>gameinn</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>15</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>49</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>237</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							The SFV Training Room: An In Depth Guide to Preparing For Every Foe
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								Matchups
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Footsies
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Training
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Beginners
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 4 Mar 2016 by <a href='#'>gootecks</a></span>
						<span>Published 23 Feb 2016 by <a href='#'>JuiceboxFGC</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>15</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>49</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>237</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							The SFV Training Room: An In Depth Guide to Preparing For Every Foe
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								Matchups
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Footsies
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Training
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Beginners
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 4 Mar 2016 by <a href='#'>gootecks</a></span>
						<span>Published 23 Feb 2016 by <a href='#'>JuiceboxFGC</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>15</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>49</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>237</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							The SFV Training Room: An In Depth Guide to Preparing For Every Foe
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								Matchups
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Footsies
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Training
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Beginners
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 4 Mar 2016 by <a href='#'>gootecks</a></span>
						<span>Published 23 Feb 2016 by <a href='#'>JuiceboxFGC</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>15</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>49</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>237</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							The SFV Training Room: An In Depth Guide to Preparing For Every Foe
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								Matchups
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Footsies
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Training
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Beginners
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 4 Mar 2016 by <a href='#'>gootecks</a></span>
						<span>Published 23 Feb 2016 by <a href='#'>JuiceboxFGC</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>15</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>49</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>237</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							The SFV Training Room: An In Depth Guide to Preparing For Every Foe
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								Matchups
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Footsies
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Training
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Beginners
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 4 Mar 2016 by <a href='#'>gootecks</a></span>
						<span>Published 23 Feb 2016 by <a href='#'>JuiceboxFGC</a></span>
					</div>
				</div>
			</div>
			<div class='article-list-item'>
				<div class='article-summary'>
					<div class='summary-item'>
						<span class='summary-value'>15</span>
						<span class='summary-subtext'>Votes</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>49</span>
						<span class='summary-subtext'>Questions</span>
					</div>
					<div class='summary-item'>
						<span class='summary-value'>237</span>
						<span class='summary-subtext'>Answers</span>
					</div>
				</div>
				<div class='article-data'>
					<div class='article-title'>
						<a href='#'>
							The SFV Training Room: An In Depth Guide to Preparing For Every Foe
						</a>
					</div>
					<div class='tags'>
						<div class='tag'>
							<a href='#'>
								Matchups
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Strategy
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Footsies
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Training
							</a>
						</div>
						<div class='tag'>
							<a href='#'>
								Beginners
							</a>
						</div>
					</div>
					<div class='article-meta'>
						<span>Last Updated 4 Mar 2016 by <a href='#'>gootecks</a></span>
						<span>Published 23 Feb 2016 by <a href='#'>JuiceboxFGC</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class='sidebar right-aligned'>
		</div>
	</div>
</div>
