<div class='character-wrapper'>
	<ul>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
	</ul>
</div>
