<div class='character-wrapper'>
	<ul>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ryu
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Chun-Li
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Nash
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						M. Bison
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Cammy
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Birdie
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Ken
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Necalli
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Vega
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						R. Mika
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Rashid
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Karin
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Zangief
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Laura
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						Dhalsim
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
		<li>
			<a href='#'>
				<%= image_tag "ryu.png" %>
			</a>
			<div class='character-image-menu'>
				<div class='character-index-link'>
					<span>
						F.A.N.G.
					</span>
				</div>
				<div class='character-index-link'>
					<a href="#">Articles</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Frame Data</a>
				</div>
				<div class='character-index-link'>
					<a href="#">Combos</a>
				</div>
			</div>
		</li>
	</ul>
</div>
