<div class='character-sub-header'>
	<div class='character-sub-menu'>
		<%= image_tag "ryu.png" %>
		<nav>
			<li>
				<%= link_to "Articles", game_character_path(game_id:game.slug, id: character.slug) %>
			</li>
			<li>
				<%= link_to "Frame Data", frame_data_game_character_path(game_id:game.slug, id: character.slug) %>
			</li>
			<li>
				<%= link_to "Combos", combos_game_character_path(game_id:game.slug, id: character.slug) %>
			</li>
		</nav>
	</div>
	<div class='character-summary'>
		<div class='character-stats'>
			<b><%= character.name %></b>
		</div>
		<div class='character-biography'>
			<%= character.history %>
		</div>
	</div>
</div>
