<div class='character-wrapper'>
	<ul>
		<% characters.each do |character| %>
			<li>
				<a href='#'>
					<%= image_tag "ryu.png" %>
				</a>
				<div class='character-image-menu'>
					<div class='character-index-link'>
						<span>
							<%= character.name %>
						</span>
					</div>
					<div class='character-index-link'>
						<%= link_to "Articles", game_character_path(game_id:@game.slug, id: character.slug) %>
					</div>
					<div class='character-index-link'>
						<%= link_to "Frame Data", frame_data_game_character_path(game_id:@game.slug, id: character.slug) %>
					</div>
					<div class='character-index-link'>
						<%= link_to "Combos", combos_game_character_path(game_id:@game.slug, id: character.slug) %>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
</div>
