<header id="header-main">
	<div id="header-logo">
		<a href='<%= root_path %>'>
			<%= image_tag "logo.png" %>
		</a>			
	</div>
	<div id="menu-wrapper">
		<div id="top-menu-wrapper">
			<div class='top-menu'>
				<nav>
					<ul>
						<li>
							<a href='<%= root_path %>'>
								Home
							</a>
						</li>
						<li>
							<a href='javascript:void(0)'>
								Training
							</a>
						</li>
						<li>
							<a href='javascript:void(0)'>
								Resources
							</a>
						</li>
						<li>
							<a href='javascript:void(0)'>
								Blog
							</a>
						</li>
						<li>
							<a href='javascript:void(0)'>
								Support
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class='top-search'>
				<input type='text' placeholder="Search LearnFGC..." />
				<button><%= image_tag "search.png" %></button>
			</div>
			<div class='top-account'>
				<% if signed_in? %>
					<%= render 'shared/account_user.html.erb' %>
				<% else %>
					<%= render 'shared/account_no_user.html.erb' %>
				<% end %>
			</div>
		</div>
		<div id="games-menu-wrapper">
			<nav>
				<ul>
					<li class='inline-list-item'>
						<%= link_to "Street Fighter V", game_path('street-fighter-v') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "Mortal Kombat X", game_path('mortal-kombat-x') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "Tekken 7", game_path('tekken-7') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "Rising Thunder", game_path('rising-thunder') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "King of Fighters XIV", game_path('king-of-fighters-xiv') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "Super Smash Bros", game_path('super-smash-bros') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "Pokken Tournament", game_path('pokken-tournament') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "Guilty Gear XRD:Revelator", game_path('guilty-gear-xrd-revelator') %>
					</li>
					<li class='inline-list-item'>
						<%= link_to "More Games", "javascript:void(0)" %>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
